@use "quasar/src/css/variables" as q
@use "sass:map"

$space-3s: (x: 12px, y: 12px)
$space-2l: (x: 32px, y: 32px)
$space-10l: (x: 160px, y: 160px)

$new-spaces: (
3s: $space-3s,
2l: $space-2l,
10l: $space-10l
)

$spaces: map.merge(q.$spaces, $new-spaces)

$primary: #1976D2
$secondary: #26A69A
$accent: #9C27B0

$dark: #1D1D1D

$positive: #21BA45
$negative: #C10015
$info: #31CCEC
$warning: #C47F17

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  -webkit-font-smoothing: antialiased

button:hover
  cursor: pointer
  opacity: 0.8
  animation: 0.3s

button
  background: none
  border: none
  outline: none

a
  text-decoration: none
  color: inherit

  // Font Sizes
$font-title-xl: 48px
$font-title-l: 32px
$font-title-m: 24px
$font-title-s: 20px
$font-title-xs: 18px

// Line Height
$line-height-title: 130%

// Font Weights
$font-weight-extrabold: 800
$font-weight-bold: 700

// Aplicando nos títulos
.title-xl
  font-size: $font-title-xl
  line-height: $line-height-title
  font-weight: $font-weight-extrabold

.title-l
  font-size: $font-title-l
  line-height: $line-height-title
  font-weight: $font-weight-extrabold

.title-m
  font-size: $font-title-m
  line-height: $line-height-title
  font-weight: $font-weight-extrabold

.title-s
  font-size: $font-title-s
  line-height: $line-height-title
  font-weight: $font-weight-bold

.title-xs
  font-size: $font-title-xs
  line-height: $line-height-title
  font-weight: $font-weight-bold
